CUSTOMERNR: {{ netcup.customer_nr | int }} 
APIKEY: '{{ netcup.api_key }}'
APIPASSWORD: '{{ netcup.api_password }}'

# Location of the cache file. Leave empty for default location.
# The default location is picked according to your OS. For example
# on Unix sytems it will use $XDG_CACHE_HOME or $HOME/.cache.
#IP-CACHE: '/home/user/.cache/dyndns.cache'

# Time in seconds on how long to wait until rechecking the netcup DNS records.
# If the cache file hasn't been touched for the specified amount of seconds the program
# will refetch the DNS records and compare the ip addresses.
#
# To disable the cache set the value to 0.
IP-CACHE-TIMEOUT: {{ ip_cache_timeout }}

DOMAINS: 
{% for domain in domains %}
    - NAME: {{ domain.name }} # Your domain name without any subdomains.
      IPV6: {{ domain.ipv6 }} # Whether the 'AAAA' entries of this host should be
                 # updated with the IPv6 address or not.
      IPV4: {{ domain.ipv4 }} # Whether the 'A' entries of this host should be
                 # updated with the IPv4 address or not. This option defaults
                 # to true when not present.
      TTL: 300 # Time to live for this zone. Around 300 is good for dyndns.
      HOSTS: # Every host that should get your public ip 
{% for host in domain.hosts %}
          - {{ host }} # You could also specify subdomains longer than this.
{% endfor %}

    # You can add how many domains as you like. Keep in mind that more domains also 
    # means more requests -> more time.
{% endfor %}