# Source: Caddy
# Site: https://github.com/caddyserver/caddy
# Repository: Caddy / stable
# Description: Fast, multi-platform web server with automatic HTTPS


deb [signed-by={{ caddy_apt_local_key }}] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main

deb-src [signed-by={{ caddy_apt_local_key }}] https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main