# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{
        order crowdsec first
        crowdsec {
               api_key {{ crowdsec.api_key }}
               api_url http://127.0.0.1:8080
        }
}

*.{{ netcup.domain }}:443 {
	crowdsec

	tls admin@{{ netcup.domain }}
	tls {
		issuer acme {
			dns netcup {
				customer_number {{ netcup.customer_nr }}
				api_key {{ netcup.api_key }}
				api_password {{ netcup.api_password }}
			}
			resolvers 8.8.8.8 1.1.1.1
			propagation_timeout 30m
			propagation_delay 15m
		}
	}

	### Authelia handled endpoints

	# Dashboard homer
	@homer host homer.{{ netcup.domain }}
	handle @homer {
		forward_auth https://authelia.nextstack.de {
			header_up Host  {upstream_hostport} #https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#https
			uri /api/verify?rd=https://authelia.{{ netcup.domain }}
			copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		}
		root * /opt/homer
		file_server
	}

	# Paperless app
	@paperless_app {
		host paperless.{{ netcup.domain }}
	}
	handle @paperless_app {
		forward_auth https://authelia.nextstack.de {
				header_up Host  {upstream_hostport} #https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#https
				uri /api/verify?rd=https://authelia.{{ netcup.domain }}
				copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		}
		#unfortunately paperlessngx is not offering https easily
		reverse_proxy http://paperlessngx.server.local:8000
	}

	# Filebrowser app 
	@documents {
		host documents.{{ netcup.domain }}
	}
	handle @documents {
		forward_auth https://authelia.nextstack.de {
				header_up Host  {upstream_hostport} #https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#https
				uri /api/verify?rd=https://authelia.{{ netcup.domain }}
				copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		}
		reverse_proxy http://documents.server.local:8080
	}

	# Proxmox (only from internal)
	@proxmox {
		host proxmox.{{ netcup.domain }}
		# Allow only internal ipv4 and all ipv6 (as Router is only allowing ipv4 from external)
		client_ip 10.0.0.0/8 ::/0
    }
	handle @proxmox {
		reverse_proxy 10.0.1.2:8006 {
			transport http {
				tls_insecure_skip_verify
			}
		}
	}

	# Home Assistant
	@ha {
		host ha.{{ netcup.domain }}
		# Allow only internal ipv4 and all ipv6 (as Router is only allowing ipv4 from external)
		client_ip 10.0.0.0/8 ::/0
	}
	handle @ha {
		reverse_proxy homeassistant.server.local:8123 {
			transport http
		}
	}

	@ha-sso host ha-sso.{{ netcup.domain }}
	handle @ha-sso {
		forward_auth https://authelia.nextstack.de {
			header_up Host  {upstream_hostport} #https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#https
			uri /api/verify?rd=https://authelia.{{ netcup.domain }}
			copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
		}
		reverse_proxy homeassistant.server.local:8123 {
			transport http
		}
	}

	# Jellyfin
	@jellyfin {
		host jellyfin.{{ netcup.domain }} 
		# Allow only internal ipv4 and all ipv6 (as Router is only allowing ipv4 from external)
		client_ip 10.0.0.0/8 ::/0
	}
	handle @jellyfin {
		reverse_proxy mediamachine.server.local:8096
	}

	### Servers with own authentication

	#Vault
	@vault {
		host vault.{{ netcup.domain }}
		# Allow only internal ipv4 and all ipv6 (as Router is only allowing ipv4 from external)
		client_ip 10.0.0.0/8 ::/0
	}
	handle @vault {
		reverse_proxy vault.server.local:8200 {
			transport http
		}
	}

	# Backup WebDav server
	@backup {
		# WebDav Server with authentitcation, no further handling
		 host backup.{{ netcup.domain }}
	}
	handle @backup {
		reverse_proxy https://backup.server.local:8080		
	}

	# Paperless upload endpoint WebDav Server
	@paperless_consume {
		# WebDav Server with authentitcation, no further handling
		host paperless-consume.{{ netcup.domain }}
	}
	handle @paperless_consume {
		reverse_proxy https://paperlessngx.server.local:8080
	}

}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
