#!/bin/bash
currentTry=0
while [ $currentTry -lt 5 ]
do
        let currentTry++
        log=$({{ dns_udpater_executable }} -c /home/{{dns_updater_user}}/config.yml -v 2>&1)
        if [ $? -eq 0 ]; then
                break
        fi
        let sleeptime=$currentTry*3
        sleep $sleeptime
done
curl --retry 3 --data-raw "$log" "https://hc-ping.com/{{ dns_updater_healthcheck_id }}/$?"