pid_file = "/home/{{ vault_agent_user }}/vault-agent.pidfile"

vault {
  address = "{{ vault_address }}"
  retry {
    num_retries = 5
  }
}

auto_auth {
  method {
    type      = "approle"
    exit_on_err = true
    config = {
      role_id_file_path = "/home/{{ vault_agent_user }}/roleid"
      secret_id_file_path = "/home/{{ vault_agent_user }}/secretid"
      remove_secret_id_file_after_reading = false
    }
  }

  sink {
    type = "file"
    config = {
      path = "/home/{{ vault_agent_user }}/sink_file.txt"
    }
  }

}


template {
 source      = "/home/{{ vault_agent_user }}/templates/cert.tpl"
 destination = "{{ cert_folder }}/{{ cert_name }}"
}