{% raw %}{{ with pkiCert "pki-int/issue/{% endraw %}{{ vault_pki_issuer }}{% raw %}" "common_name={% endraw %}{{ vault_cert_client_common_name }}{% raw %}" "ttl={% endraw %}{{ cert_ttl }}{% raw %}" }}
{{ .Cert }}
{{ .Key }}
{{ .CA }}
{{ end }}
{% endraw %}