#!/bin/bash
log=$(/usr/bin/vault agent -config=/home/vault/vault-agent-config.hcl -exit-after-auth=true 2>&1)
curl --retry 3 --data-raw "$log" "https://hc-ping.com/{{ vault_agent_healthcheck_id }}/$?"